.card {
    width: inherit;
    height: inherit;
}
.padding {
    padding-top: 5%;
}
.media {
    height: 0;
    padding-top: 1%;
}
.avatar {
    background-color: red;
}
.background {
    background-color: #ffffff;
}